<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.Tr1List"
    android:versionCode="1"
    android:versionName="1.0">	
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk android:minSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <!-- The main/home activity (it has no parent activity) -->
        <activity
            android:name=".ProductListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PRODUCTLISTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".ProductActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ITEMLISTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.Tr1List.ProductListActivity" />
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".UserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.USERACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.Tr1List.ProductListActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ProductListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGSACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.Tr1List.ProductListActivity" />
        </activity>
    </application>

</manifest>